*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    padding: 1rem 0;
    margin: 0;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Butterfly Kids', cursive;
    text-align: center;
}

.reiniciar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reiniciar__btn {
    background: pink;
    border: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}


.tabla__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabla {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    max-width: 800px;
    /* grid-template-rows: 10%; */
}

.numero {
    padding: 1rem;
    background: gainsboro;
    outline: 1px solid black;
    text-align: center;
    cursor: pointer;
    
}
.seleccion {
    background: blueviolet;
    color: white;
}
.contarAdelante {
    background: greenyellow;
    color: white;
}

.contarAtras{
    background: orangered;
    color: white;
}