*, *::before, *::after {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.grilla {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grilla__box {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    max-width: 800px;
    /* grid-template-rows: 10%; */
}

.numero {
    padding: 1rem;
    background: gainsboro;
    outline: 1px solid ;
    text-align: center;
    cursor: pointer;
}
.seleccion {
    border: 5px solid blue !important;
}
.contarAdelante {
    border: 5px solid green;
}

.contarAtras{
    border: 5px solid red;
}